@media screen and(max-width: 768px){

  html{
      font-size: 10px;
  }
  .container{
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
      padding: 0 2rem;
  }
 
.sm-flex{
    display: flex;
}
.sm-colom{
    flex-direction: column;
}
.sm-flex-start{
justify-content: flex-start;
}
.sm-space-between{
    justify-content: space-between;
}
.sm-justify-center{
    justify-content: center;
}
.sm-wrap{
    flex-wrap: wrap;
}
.sm-align-center{
    align-items: center;
}
.sm-text-center{
    text-align: center;
}
.sm-margin-top{
    margin-top: 1rem;
}
.sm-margin-bottom{
    margin-top: 1rem;
}
.sm-margin{
   margin-left: 0;
}

.menu{
    display: none;
}

.bars{
    display: block;
    i{
        font-size: 2rem;
    }
}

#toggle:checked~.menu{
    display: inline-block;

}



.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    padding-top: 10rem;
    background-color: rgba(#78ac9a,.7);
    li{
        font-size: 1.7rem;
        color: black;
       
    }
    li>a{
        color: black;
    }
    
}
.header-bottom {
   
   
   
    .brand{
    position: fixed;
    display: block;
    z-index: 12;
    left: 1rem;
    top: 5.4rem;
    
    strong{
        font-size: 2.5rem;
        
    }
    
   
   
    
}
.bars{
    position: fixed;
    display: block;
    z-index: 12;
    right: 1rem;
    top: 5.4rem;
    i{
        font-size: 2.8rem;
    }
  
   

}
}

.service-hero{
    margin-top: 3.6rem;
}


}
    
