.pricing-plan{
padding: 3rem 0;
    background-color: $secondary;
    article{
        display: flex;
        padding: 2rem 0;
        p{
            color: gray;
            font-size: 1rem;
            padding: 0 2rem;
        }
    }
    .free{
        width: 30%;
        border: .1rem solid rgba(224, 220, 220, 0.9);
        background-color: $white;
        padding: 1rem;
    }
    h5{
        margin: 1rem;
    }
    strong{
        font-size: 2rem;
        font-weight: 900;
    }
    span{
        color: $gray;
        font-size: 1rem;
        margin-bottom: 2rem;

    }
    h6{
        font-size: .9rem;
        margin-bottom: .5rem;
    }
    ul li{
        text-align: center;
        color: $gray;
        font-size: .9rem;
        margin-top: .7rem;
    }
    button{
        margin-bottom: 2rem;
    }
    

}

.Faq{
    padding: 2rem 0;
    p{
        color: $gray;
        font-size: 1rem;
    }
    article{
        width: 100%;
    }
    .faq-box{
      padding: 2rem 0;
    }
  .faq-box  div{
      border-radius: .2rem;
      margin: 1rem 0;
      padding: 1rem;
        width: 48%;
        border: .1rem solid gainsboro;
        p{
            font-size: .8rem;
            margin: .5rem 0;
        }

    }
}