@media screen and(max-width: 768px){



    .nav-list{
        margin-top: 1rem;
    }
    
   
    
   
    .sm-width{
        width: 100%;
    }
    .follow{
        margin-top: 1rem;
    }
    
    .nav-list-footer{
        margin-top: 1rem;
    }
        
.service-about div{
    width: 100%;
}
.service-about figure{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.product article div{
    width: 100%;
    margin-bottom: 1rem;
}
.deals button{
   
    margin: 0 auto;
    margin-top: 1rem;
}

.award .best-award-article{ div {
    width: 100%;
}
figure{
    width: 100%;
    margin-top: 1rem;
}
}

}